<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RPS Game Multiplayer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/app.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img class="logo" src="./images/logo.png">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-0">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">
                    <img class="logo" src="./images/home.png">
                  </a>
                    <% if (session.userId && session.role === 'Super Admin') { %>
                    
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/profile">Profile</a>
                    </li>
                    <% } else if (session.userId && session.role === 'User') { %>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/profile">My Profile</a>
                        </li>
                    <% } %>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <% if (session.userId) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><%= session.username %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="api/user/logout">
                          <img class="logo" src="./images/logout.png">
                        </a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <% if (typeof message !=='undefined' ) { %>
    <div class="alert <%= message['type'] === 'success' ? 'alert-success' : 'alert-warning' %> alert-dismissible"
        role="alert">
        <div>
            <%= message['message'] %>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
