<%- include('../partials/header') %>
<div class="container mt-5">

    <% if (typeof error !=='undefined' ) {%>
        <div class="alert alert-danger">
            <%= error.errors[0].message %>
        </div>
    <% } %>

    <form method="POST" id="createProfileForm" action="/api/profile/create">
        <div>
            <label for="fullName">Full Name</label>
            <input 
                type="text" 
                name="fullName" 
                placeholder="Input profile name"
                class="form-control">
            <label for="dateofbirth">Date of birth</label>
            <input 
                type="text" 
                name="dateofbirth" 
                placeholder="Input date of birth"
                class="form-control">
            <label for="gender">Choose your gender</label>
            <input list="genders" name="gender" id="gender">
            <datalist id="genders">
                <option value="m">
                <option value="f">
            </datalist>
            
        </div>

        <button type="submit" class="btn btn-info">Save</button>
    </form>

</div>



<%- include('../partials/footer') %>