<%- include('../partials/header') %>
<div class="container mt-5">

    <% if (typeof error !=='undefined' ) {%>
        <div class="alert alert-danger">
            <%= error.errors[0].message %>
        </div>
    <% } %>

    <form method="POST" id="editProfileForm" action="/api/profile/edit">
        <input type="hidden" name="id" value="<%= profile.id %>">
        <div>
            <label for="fullName">Full Name</label>
            <input 
                type="text" 
                name="fullName" 
                placeholder="Input profile name"
                class="form-control"
                value="<%= profile.fullName %>">
            <label for="dateofbirth">Date of birth</label>
            <input 
                type="text" 
                name="dateofbirth" 
                placeholder="Input date of birth"
                class="form-control"
                value="<%= profile.dateofbirth %>">
            
        </div>

        <button type="submit" class="btn btn-info">Save</button>
    </form>

</div>



<%- include('../partials/footer') %>