<%- include('../partials/header') %>
<div class="container mt-5">
Your game history
    <div>
        <table class="table table-hover table-striped">
            <% if(histories.length === 0) { %>
                No Data Found 
            <% } else { %>
            <tr>
                <th>User ID</th>
                <th>Opponent ID</th>
                <th>Your Choice</th>
                <th>Opponent's Choice</th>
                <th>Result</th>
                <th>Fight Date</th>
            </tr>
            

            <% histories.forEach(h=> { %>
            <tr>
                <td><%= h.userId %></td>
                <td><%= h.opponentId %></td>
                <td><%= h.player_choice %></td>
                <td><%= h.opponent_choice %></td>
                <td><%= h.result %></td>
                <td><%= h.createdAt %></td>
            </tr>
            <% }) %>
        <% } %>
        </table>
    </div>

</div>



<%- include('../partials/footer') %>