<%- include('../partials/header') %>
<div class="container mt-5">
<% if (session.role === 'Super Admin') { %>
    <div>
        <table class="table table-hover table-striped">
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Date of birth</th>
                <th>Action</th>
            </tr>
            <% profiles.forEach(ub=> { %>
            <tr>
                <td><%= ub.id %></td>
                <td><%= ub.userId %></td>
                <td><%= ub.fullName %></td>
                <td><%= ub.gender %></td>
                <td><%= ub.dateofbirth.toLocaleString() %></td>
                <td>
                    <a href="/profile/edit/<%= ub.id %>" class="btn btn-primary">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="/api/profile/delete/<%= ub.id %>" class="btn btn-danger">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <% } else {%>
        <% if(profiles.length > 0) { %>
            <div>
                <% profiles.forEach(ub=> { %>
                <table class="table table-hover table-striped">
                    <tr>
                        <th>ID</th>
                        <td><%= ub.id %></td>
                    </tr>
                    <tr>
                        <th>Full Name</th>
                        <td><%= ub.fullName %></td>
                    </tr>
                    <tr>
                        <th>Date of birth (MM-DD-YYYY)</th>
                        <td><%= ub.dateofbirth.toLocaleString() %></td>
                    </tr>
                    
                    <tr>
                        <th>Gender</th>
                        <td><%= ub.gender%></td>
                    </tr>
                    <tr>
                        <th>User ID</th>
                        <td><%= ub.userId%></td>
                    </tr>
                    <tr>
                        <th>Action</th>
                        <td>
                            <a href="/profile/edit/<%= ub.id %>" class="btn btn-primary">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="/api/profile/delete/<%= ub.id %>" class="btn btn-danger">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </table> 
                <% }) %>
            </div>
        <% } else { %>
            <div class="text-center">
                <a href="/profile/create" class="btn btn-primary">Create new biodata</a>
            </div>
        <% } %>
    <% } %>
</div>

<%- include('../partials/footer') %>
