* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width:100%;
    max-height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
}

.logo {
    width: 32px;
    height: 32px;
}

.background {
    background-image: url('../images/login-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

.logo-header {
    width: 200px;
    height: 180px;
}
body {
    font-family: 'Quicksand', sans-serif;
}

button {
    font-family: 'Quicksand', sans-serif;
}
#Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

label {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

button {
    text-transform: uppercase;
    margin-top: 15px;
}

input {
    width: 100%;
}

table {
    text-align: justify;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

td, th {
    text-align: center;
}

.btn {
    display:inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #0062cc;
}

.btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.btn span {
    vertical-align: middle;
}