<%- include('./partials/header') %>
<div class="container mt-5">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="./images/logo-g.png" alt="" width="108" height="78">
        <h1 class="display-5 fw-bold">Traditional Game Multiplayer</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Let's play traditional game with your friends, register for free</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/login" class="btn btn-primary btn-lg px-4 gap-3">Login</a>
                <a href="/register" class="btn btn-success btn-lg px-4">Sign me up!</a>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>