<%- include('./partials/header') %>
<div class="background container">
    <div class="row">
        <form action="/api/user/login" method="post" id="Login">
            <img class="logo-header" src="./images/logo-g.png">
            <p>Welcome, please fill out your username and password to login</p>
            <div class="form-group">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <img class="logo d-inline-block align-top" src="./images/username.png">
                  </div>
                  <div class="col">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Username">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <img class="logo d-inline-block" src="./images/password.png">
                  </div>
                  <div class="col">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="******">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">
                <img class="logo" src="./images/login.png">Login
              </button>
          </form>
    </div>
</div>


<%- include('./partials/footer') %>