<%- include('../partials/header') %>
<div class="container mt-5">
<p>List for Active Room</p>
    <div>
        <table class="table table-hover table-striped">
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Creator ID</th>
                <th>Opponent ID</th>
                
            </tr>
            <% rooms.forEach(r=> { %>
            <tr>
                <td><%= r.id %></td>
                <td><%= r.code %></td>
                <td><%= r.creatorId %></td>
                <td><%= r.opponent_id %></td>
                
            </tr>
            <% }) %>
        </table>
    </div>

</div>



<%- include('../partials/footer') %>